In [109]:
import matplotlib.pyplot as plt
import pandas as pd
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import playergamelog
from nba_api.live.nba.endpoints import scoreboard

pd.set_option('display.max_columns', None)

In [110]:
# Initialize an empty DataFrame to store all game logs
all_seasons_logs_df = pd.DataFrame()

# List of seasons to loop through (update this list as needed)
seasons = ['2021-22', '2022-23', '2023-24']

# Fetch game logs for each season and add a 'SEASON' column
for season in seasons:
    player_logs = playergamelog.PlayerGameLog(player_id='2544', season=season)
    season_logs_df = player_logs.get_data_frames()[0]
    season_logs_df['SEASON'] = season  
    all_seasons_logs_df = pd.concat([all_seasons_logs_df, season_logs_df], ignore_index=True)

In [111]:
all_seasons_logs_df.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,SEASON
0,22021,2544,0022101160,"APR 01, 2022",LAL vs. NOP,L,40,13,23,0.565,3,8,0.375,9,12,0.750,0,8,8,4,1,0,6,3,38,-2,1,2021-22
1,22021,2544,0022101119,"MAR 27, 2022",LAL @ NOP,L,42,14,27,0.519,7,13,0.538,4,6,0.667,1,8,9,5,0,1,4,1,39,-9,1,2021-22
2,22021,2544,0022101072,"MAR 21, 2022",LAL @ CLE,W,41,17,29,0.586,0,4,0.000,4,4,1.000,1,9,10,12,1,1,3,0,38,9,1,2021-22
3,22021,2544,0022101061,"MAR 19, 2022",LAL @ WAS,L,36,16,29,0.552,4,10,0.400,2,3,0.667,2,8,10,6,0,0,2,3,38,1,1,2021-22
4,22021,2544,0022101051,"MAR 18, 2022",LAL @ TOR,W,45,15,26,0.577,2,7,0.286,4,7,0.571,4,5,9,7,0,2,3,2,36,-5,1,2021-22

In [112]:
# Fetching career statistics for Player of Choice using his player ID
player_career = playercareerstats.PlayerCareerStats(player_id='2544')
player_career_df = player_career.get_data_frames()[0]

# Extracting the seasons of player of choice
seasons_played = player_career_df['SEASON_ID'].unique()
print(seasons_played.tolist())

['2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23', '2023-24']

In [113]:
player_career_df.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,1492,0.417,63,217,0.290,347,460,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,1684,0.472,108,308,0.351,477,636,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,1823,0.480,127,379,0.335,601,814,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,1621,0.476,99,310,0.319,489,701,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,1642,0.484,113,359,0.315,549,771,0.712,133,459,592,539,138,81,255,165,2250

In [114]:
# career stats by season for player

# Lebron James
career = playercareerstats.PlayerCareerStats(player_id='2544') 

# pandas data frames (optional: pip install pandas)
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,1492,0.417,63,217,0.290,347,460,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,1684,0.472,108,308,0.351,477,636,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,1823,0.480,127,379,0.335,601,814,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,1621,0.476,99,310,0.319,489,701,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,1642,0.484,113,359,0.315,549,771,0.712,133,459,592,539,138,81,255,165,2250
5,2544,2008-09,00,1610612739,CLE,24.0,81,81,3054.0,789,1613,0.489,132,384,0.344,594,762,0.780,106,507,613,587,137,93,241,139,2304
6,2544,2009-10,00,1610612739,CLE,25.0,76,76,2966.0,768,1528,0.503,129,387,0.333,593,773,0.767,71,483,554,651,125,77,261,119,2258
7,2544,2010-11,00,1610612748,MIA,26.0,79,79,3063.0,758,1485,0.510,92,279,0.330,503,663,0.759,80,510,590,554,124,50,284,163,2111
8,2544,2011-12,00,1610612748,MIA,27.0,62,62,2326.0,621,1169,0.531,54,149,0.362,387,502,0.771,94,398,492,387,115,50,213,96,1683
9,2544,2012-13,00,1610612748,MIA,28.0,76,76,2877.0,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036
10,2544,2013-14,00,1610612748,MIA,29.0,77,77,2902.0,767,1353,0.567,116,306,0.379,439,585,0.750,81,452,533,488,121,26,270,126,2089
11,2544,2014-15,00,1610612739,CLE,30.0,69,69,2493.0,624,1279,0.488,120,339,0.354,375,528,0.710,51,365,416,511,109,49,272,135,1743
12,2544,2015-16,00,1610612739,CLE,31.0,76,76,2709.0,737,1416,0.520,87,282,0.309,359,491,0.731,111,454,565,514,104,49,249,143,1920
13,2544,2016-17,00,1610612739,CLE,32.0,74,74,2795.0,736,1344,0.548,124,342,0.363,358,531,0.674,97,542,639,646,92,44,303,134,1954
14,2544,2017-18,00,1610612739,CLE,33.0,82,82,3026.0,857,1580,0.542,149,406,0.367,388,531,0.731,97,612,709,747,116,71,347,136,2251
15,2544,2018-19,00,1610612747,LAL,34.0,55,55,1937.0,558,1095,0.510,111,327,0.339,278,418,0.665,57,408,465,454,72,33,197,94,1505
16,2544,2019-20,00,1610612747,LAL,35.0,67,67,2316.0,643,1303,0.493,148,425,0.348,264,381,0.693,66,459,525,684,78,36,261,118,1698
17,2544,2020-21,00,1610612747,LAL,36.0,45,45,1504.0,422,823,0.513,104,285,0.365,178,255,0.698,29,317,346,350,48,25,168,70,1126
18,2544,2021-22,00,1610612747,LAL,37.0,56,56,2084.0,640,1221,0.524,161,448,0.359,254,336,0.756,63,396,459,349,73,59,196,121,1695
19,2544,2022-23,00,1610612747,LAL,38.0,55,54,1954.0,609,1219,0.500,121,377,0.321,251,327,0.768,65,392,457,375,50,32,178,88,1590
20,2544,2023-24,00,1610612747,LAL,39.0,35,35,1210.0,328,624,0.526,77,194,0.397,146,198,0.737,31,222,253,264,51,23,115,37,879

In [115]:
# Today's Score Board
games = scoreboard.ScoreBoard()

In [116]:
# Get Player ID
from nba_api.stats.static import players

player_dict = players.get_players()
lebron = [player for player in player_dict if player["full_name"] == "LeBron James"][0]
lebron_id = lebron["id"]
lebron_id

2544

In [117]:
# Get Team ID
from nba_api.stats.static import teams

team_dict = teams.get_teams()
GSW = [team for team in team_dict if team["full_name"] == "Golden State Warriors"][0]
GSW_id = GSW["id"]
GSW_id

1610612744

In [118]:
# Get all of Lebrons stats
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.library.parameters import SeasonAll
gamelog_lebron = playergamelog.PlayerGameLog(lebron_id, season = SeasonAll.all)
gamelog_lebron_df = gamelog_lebron.get_data_frames()
#gamelog_lebron_df[0]

In [124]:
# Get all the Warriors Stats
from nba_api.stats.endpoints import leaguegamefinder
GSW_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=GSW_id)
#GSW_games.get_data_frames()[0]

In [120]:
all_seasons_logs_df.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,SEASON
0,22021,2544,0022101160,"APR 01, 2022",LAL vs. NOP,L,40,13,23,0.565,3,8,0.375,9,12,0.750,0,8,8,4,1,0,6,3,38,-2,1,2021-22
1,22021,2544,0022101119,"MAR 27, 2022",LAL @ NOP,L,42,14,27,0.519,7,13,0.538,4,6,0.667,1,8,9,5,0,1,4,1,39,-9,1,2021-22
2,22021,2544,0022101072,"MAR 21, 2022",LAL @ CLE,W,41,17,29,0.586,0,4,0.000,4,4,1.000,1,9,10,12,1,1,3,0,38,9,1,2021-22
3,22021,2544,0022101061,"MAR 19, 2022",LAL @ WAS,L,36,16,29,0.552,4,10,0.400,2,3,0.667,2,8,10,6,0,0,2,3,38,1,1,2021-22
4,22021,2544,0022101051,"MAR 18, 2022",LAL @ TOR,W,45,15,26,0.577,2,7,0.286,4,7,0.571,4,5,9,7,0,2,3,2,36,-5,1,2021-22

In [121]:
# Convert Game_Date to a datetime
all_seasons_logs_df['GAME_DATE'] = pd.to_datetime(all_seasons_logs_df['GAME_DATE'])
# Create Month_Year to faciliate Month/Date Analysis
all_seasons_logs_df['Year'] = all_seasons_logs_df['GAME_DATE'].dt.year

/tmp/ipykernel_4406/233526306.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_seasons_logs_df['GAME_DATE'] = pd.to_datetime(all_seasons_logs_df['GAME_DATE'])

In [122]:
all_seasons_logs_df.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,SEASON,Year
0,22021,2544,0022101160,2022-04-01,LAL vs. NOP,L,40,13,23,0.565,3,8,0.375,9,12,0.750,0,8,8,4,1,0,6,3,38,-2,1,2021-22,2022
1,22021,2544,0022101119,2022-03-27,LAL @ NOP,L,42,14,27,0.519,7,13,0.538,4,6,0.667,1,8,9,5,0,1,4,1,39,-9,1,2021-22,2022
2,22021,2544,0022101072,2022-03-21,LAL @ CLE,W,41,17,29,0.586,0,4,0.000,4,4,1.000,1,9,10,12,1,1,3,0,38,9,1,2021-22,2022
3,22021,2544,0022101061,2022-03-19,LAL @ WAS,L,36,16,29,0.552,4,10,0.400,2,3,0.667,2,8,10,6,0,0,2,3,38,1,1,2021-22,2022
4,22021,2544,0022101051,2022-03-18,LAL @ TOR,W,45,15,26,0.577,2,7,0.286,4,7,0.571,4,5,9,7,0,2,3,2,36,-5,1,2021-22,2022

In [123]:
#Aggregate game level data to yearly
yearly_stats = all_seasons_logs_df.groupby('Year').agg({'FGM': 'sum',
                                                        'FGA': 'sum',
                                                        'FG3M': 'sum',
                                                        'FG3A': 'sum',
                                                        'FTM': 'sum',
                                                        'FTA': 'sum', }).reset_index()
# This takes the field goals made and attempted to calculate field goal percent
yearly_stats['FG_PCT'] = yearly_stats['FGM'] / yearly_stats['FGA']
yearly_stats['FG3_PCT'] = yearly_stats['FG3M'] / yearly_stats['FG3A']
yearly_stats['FT_PCT'] = yearly_stats['FTM'] / yearly_stats['FTA']
yearly_stats['GAMES'] = all_seasons_logs_df.groupby('Year')['Game_ID'].count().values
yearly_stats

   Year  FGM   FGA  FG3M  FG3A  FTM  FTA    FG_PCT   FG3_PCT    FT_PCT  GAMES
0  2021  267   509    74   197  106  137  0.524558  0.375635  0.773723     25
1  2022  686  1331   146   442  261  349  0.515402  0.330317  0.747851     59
2  2023  588  1146   132   357  272  356  0.513089  0.369748  0.764045     58
3  2024   36    78     7    23   12   19  0.461538  0.304348  0.631579      4